html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  width: 100vw !important;
  height: 100vh !important;
}

#instructions {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
}
